* {
    background: pink;
    font-family: "Barlow", sans-serif;
}

h1 {
    text-align: center;
}

.register {
    color: purple;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    width: 200px;
    margin-bottom: 10px;
    border: 1px black solid;
    /* padding-left: 5px; */
}

::-webkit-input-placeholder {
    /* Edge */
    color: red;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::placeholder {
    color: red;
}

#linkLogin {
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#logo {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 10px;
    left: 80%;
}
